.search-string {
  max-width: 1280px;
  width: 100%;
  padding: 70px 0 43px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.search-form-container {
  margin: 0;
  padding: 0;
  padding: 10px;
  min-height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  border: 1.5px solid rgba(170, 170, 170, 0.2);  
  box-sizing: border-box;
}

.search-form__input {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #8B8B8B;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 15px;
  outline: none;
  width: 90%;
}

.search-form__input:focus {
  outline: 1px solid #4285f4;
}

.search-form__button {
  width: 100px;
  height: 52px;
  border: none;
  border-radius: 5px;
  background: rgba(66, 133, 244, 1);
  color:rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.search-form__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 500px) {
  .search-form-container {
    min-height: 58px;
    padding: 6px;
  }

  .search-form__input {
    font-size: 16px;
    line-height: 16px;
    padding-left: 6px;
  }

  .search-form__button {
    height: 44px;
  }
}