.techs {
  background: #272727;
  padding: 0 70px;
}

.techs__heading {
  margin: 0;
  padding: 0;
  padding: 100px 0 23px;
  border-bottom: 1px solid rgba(218, 218, 218, 1);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.techs__subheading {
  margin: 0 auto;
  padding: 0;
  margin-top: 90px;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  max-width: 460px;
  min-height: 36px;
}

.techs__text {
  margin: 0 auto;
  padding: 0;
  margin-top: 26px;
  max-width: 460px;
  min-height: 32px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.techs__list {
  margin: 0;
  padding: 0;
  padding: 100px 0 100px;
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-auto-rows: 1fr;
  gap: 10px;
  justify-content: center;
}

.techs__item {
  border-radius: 10px;
  background: #303030;
  text-align: center;
  padding: 21px 0 22px;
  width: 100%;
  min-height: 60px;
  box-sizing: border-box;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 800px) {
  .techs {
    padding-left: 47px;
    padding-right: 47px;
  }

  .techs__heading {
    padding-top: 90px;
  }

  .techs__subheading {
    margin-top: 80px;
  }

  .techs__text {
    margin-top: 22px;
    min-height: 36px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }

  .techs__list {
    padding-top: 83px;
    padding-bottom: 90px;
    grid-template-columns: repeat(auto-fit, 84px);
  }

  .techs__item {
    font-size: 12px;
    letter-spacing: -0.48px;
    padding-bottom: 21px;
  }
}

@media screen and (max-width: 500px) {
  .techs {
    padding-left: 14px;
    padding-right: 14px;
  }

  .techs__heading {
    padding-top: 70px;
    padding-bottom: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .techs__subheading {
    margin-top: 60px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .techs__text {
    margin-top: 24px;
    max-width: 292px;
    min-height: 32px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }

  .techs__list {
    padding: 50px 53px 70px;
    box-sizing: border-box;
  }

  .techs__item {
    min-height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}